<h1>Forgot your password?</h1>

<%= form_with url: password_resets_path do |form| %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Send Reset Password Link", class: "btn btn-primary" %>
  </div>
<% end %>