<h1>Welcome to the Watch App</h1>
<% if Current.user %>
  <h2><%= Current.user.email %></h2>
  <%= button_to "Sign Out", url: session_path(Current.user), method: :post %>
<% else %>
  <h2><%= link_to "Register", new_registration_path %></h2>
<% end %>